.root {
  font-size: var(--mantine-font-size-sm);
  font-family: var(--font-roboto);
  font-weight: 500;
  color: var(--mantine-color-gray-7);

  @mixin rtl {
    direction: ltr;
    text-align: right;
  }
}
