.logo {
  @mixin rtl {
    border-left: 1px solid var(--mantine-color-gray-3);
  }

  @mixin ltr {
    border-right: 1px solid var(--mantine-color-gray-3);
  }

  border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}
