/* [project]/packages/theme/src/fonts/roboto/roboto_2132e1ee.module.css [app-client] (css) */
@font-face {
  font-family: roboto;
  src: url("/_next/static/media/roboto_latin_400_normal-s.p.30e07c75.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: roboto;
  src: url("/_next/static/media/roboto_latin_500_normal-s.p.d5cc8ea0.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: roboto;
  src: url("/_next/static/media/roboto_latin_700_normal-s.p.c0584405.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: roboto Fallback;
  src: local(Arial);
  ascent-override: 92.49%;
  descent-override: 24.34%;
  line-gap-override: 0.0%;
  size-adjust: 100.3%;
}

.roboto_2132e1ee-module__RuhxPG__className {
  font-family: roboto, roboto Fallback;
}

.roboto_2132e1ee-module__RuhxPG__variable {
  --font-roboto: "roboto", "roboto Fallback";
}


/* [project]/packages/theme/src/fonts/roboto/roboto_2132e1ee.module.css [app-client] (css) */
@font-face {
  font-family: roboto;
  src: url("/_next/static/media/roboto_latin_400_normal-s.p.30e07c75.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: roboto;
  src: url("/_next/static/media/roboto_latin_500_normal-s.p.d5cc8ea0.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: roboto;
  src: url("/_next/static/media/roboto_latin_700_normal-s.p.c0584405.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: roboto Fallback;
  src: local(Arial);
  ascent-override: 92.49%;
  descent-override: 24.34%;
  line-gap-override: 0.0%;
  size-adjust: 100.3%;
}

.roboto_2132e1ee-module__RuhxPG__className {
  font-family: roboto, roboto Fallback;
}

.roboto_2132e1ee-module__RuhxPG__variable {
  --font-roboto: "roboto", "roboto Fallback";
}


/* [project]/packages/theme/src/fonts/rubik/rubik_7c165172.module.css [app-client] (css) */
@font-face {
  font-family: rubik;
  src: url("/_next/static/media/rubik-s.p.71244716.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: rubik Fallback;
  src: local(Arial);
  ascent-override: 91.09%;
  descent-override: 24.36%;
  line-gap-override: 0.0%;
  size-adjust: 102.64%;
}

.rubik_7c165172-module__T0hw-q__className {
  font-family: rubik, rubik Fallback;
}

.rubik_7c165172-module__T0hw-q__variable {
  --font-rubik: "rubik", "rubik Fallback";
}


/* [project]/packages/theme/src/fonts/rubik/rubik_7c165172.module.css [app-client] (css) */
@font-face {
  font-family: rubik;
  src: url("/_next/static/media/rubik-s.p.71244716.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: rubik Fallback;
  src: local(Arial);
  ascent-override: 91.09%;
  descent-override: 24.36%;
  line-gap-override: 0.0%;
  size-adjust: 102.64%;
}

.rubik_7c165172-module__T0hw-q__className {
  font-family: rubik, rubik Fallback;
}

.rubik_7c165172-module__T0hw-q__variable {
  --font-rubik: "rubik", "rubik Fallback";
}


/*# sourceMappingURL=%5Bproject%5D_packages_theme_src_fonts_5ffbb8._.css.map*/
